@import "../../shared/scss/colors";

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 0 0 0 -1px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 14px;
  background: linear-gradient(to bottom, #ffffff 0%, #fbfbfb38 47%, #fcfdf5 100%);
}

.Header .logo {
  height: 40px;
  display: flex;
  align-items: center;
}

.Header .logo > img {
  width: 38px;
}

.Header .logo div {
  display: inline-block;
  margin-left: 5px;
}

.Header .logo div > img {
  width: 140px;
}

.Header .menuIcon {
  width: 20px;
}

.Header .profilePic {
  height: 30px;
}

.Header .userIcon {
  width: 38px;
}
