.Header {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 0px 0px 0px -1px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 14px;
  background: linear-gradient(to bottom, #ffffff 0%, #fbfbfb38 47%, #fcfdf5 100%);
}

.Header .logo {
  height: 40px;
  display: flex;
  align-items: center;
}

.Header .logo img {
  width: 38px;
}

.Header .logo span:first-of-type {
  font-family: bello-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  color: #ff3880;
  margin-left: .1em;
}

.Header .menuIcon {
  width: 20px;
}

.Header .profilePic {
  height: 30px;
}

.Header .userIcon {
  width: 38px;
}
