.Header {
  display:flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.Header .logo {
  height: 50px;
  display: flex;
  align-items: center;
}

.Header .logo img {
  height: 80%;
}

.Header .logo span:first-of-type {
  font-family: bello-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #ff3880;
  margin-left: .1em;
}

.Header .menuIcon {
  height: 20px;
  margin-left: 15px;
}

.Header .profilePic {
  height: 30px;
  margin-right: 17px;
}