@import "../../shared/scss/colors";

$close-button-margins: 20px;
$close-button-size: 20px;

.Nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  transform: translateX(-100%);
  z-index: 1;
}

.Nav.shown {
  transform: translateX(0);
  animation: addBackground .4s ease-in;
  animation-fill-mode: forwards;
}

.Nav.hidden {
  transform: translateX(0);
  animation: removeBackground .4s ease-out, hideNavInLeft 0s ease-out .4s;
  animation-fill-mode: forwards;
}

.NavItemsContainer {
  position: absolute;
  width: 65%;
  height: 100%;
  background-color: #efefef;
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.4), 0 16px 24px 2px rgba(0, 0, 0, 0.29), 0 6px 30px 5px rgba(0, 0, 0, 0.24);
}

.Nav ul {
  margin: 50px 10px 41px;
  list-style: none;
}

.Nav li {
  color: #525050;
  padding: .5em 1em;
  text-transform: capitalize;
  text-align: center;
  height: 55px;
  letter-spacing: .08em;
  word-spacing: .1em;
  display: flex;
  align-items: center;
}

.Nav li img {
  height: 22px;
  display: inline-block;
  padding: 3px;
  margin-right: 1rem;
  box-sizing: content-box;
}

.Nav li:hover, .Nav li:focus {
  background-color: $nav-hover-background;
}

.open {
  animation: navigate-in .5s ease-out;
  animation-fill-mode: forwards;
}

.close {
  animation: navigate-out .5s ease-in;
  animation-fill-mode: forwards;
}

.closeButton {
  position: absolute;
  top: $close-button-margins;
  right: $close-button-margins;
}

.closeButton img {
  height: $close-button-size;
}

@keyframes navigate-in {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes navigate-out {
  0% {
    opacity: 100;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes addBackground {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes removeBackground {
  0% {
    background-color: rgba(0, 0, 0, 0.5);
  }

  100% {
    background-color: transparent;
  }
}

@keyframes hideNavInLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
