@import "../../shared/scss/colors";

$close-button-margins: 20px;
$close-button-size: 20px;

.Nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ededed;
  transform: translateX(-100%);
  width: 100vw;
  height: 100vh;
}

.Nav ul {
  margin: 41px;
  list-style: none;
}

.Nav li {
  color: $pink-nav-bar;
  font-size: 1.6em;
  font-weight: 100;
  text-transform: uppercase;
  padding: .18em .3em;
  text-align: center;
  margin-bottom: .3em;
  height: 1.8em;
  letter-spacing: .08em;
  word-spacing: .1em;
  display: flex;
  align-items: center;
}

.open {
  transform: translateX(0);
  z-index: 1;
}

.closeButton {
  position: absolute;
  top: $close-button-margins;
  right: $close-button-margins;
}

.closeButton img {
  height: $close-button-size;
}
