@import "../../shared/scss/colors";

$close-button-margins: 20px;
$close-button-size: 20px;

.Nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateX(-100%);
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.NavItemsContainer {
  position: absolute;
  width: 60%;
  height: 100%;
  background-color: white;
}

.Nav ul {
  margin: 50px 41px 41px;
  list-style: none;
}

.Nav li {
  color: $pink-nav-bar;
  padding: .5em 1em;
  text-align: center;
  margin-bottom: .3em;
  height: 1.8em;
  letter-spacing: .08em;
  word-spacing: .1em;
  display: flex;
  align-items: center;
}

.Nav li:hover, .Nav li:focus {
  background-color: $nav-hover-background;
}

.open {
  animation: navigate-in .5s ease-out;
  animation-fill-mode: forwards;
}

.close {
  animation: navigate-out .5s ease-in;
  animation-fill-mode: forwards;
}

.closeButton {
  position: absolute;
  top: $close-button-margins;
  right: $close-button-margins;
}

.closeButton img {
  height: $close-button-size;
}

@keyframes navigate-in {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes navigate-out {
  0% {
    opacity: 100;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}
