.LoadingIcon {
  color: inherit;

  circle {
    color: inherit;
    stroke: currentColor;
  }

  animation: animateStrokeDashedArray 1s infinite ease-out backwards;
}


@keyframes animateStrokeDashedArray {
  from {
    stroke-dashoffset: 130;
  }
  to {
    stroke-dashoffset: 0;
  }

}

