.LoadingIcon {
  color: inherit;

  circle {
    color: inherit;
    stroke: currentColor;
  }

  animation: animateStrokeDashedArray 5s infinite linear forwards;
  stroke-linecap: round;
}


@keyframes animateStrokeDashedArray {
  from {
    stroke-dashoffset: 754
  }
  to {
    stroke-dashoffset: 0;
  }
}

